<?xml version="1.0" encoding="UTF-8"?>
   <beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xmlns="http://www.springframework.org/schema/beans" 
      xmlns:context="http://www.springframework.org/schema/context" 
      xmlns:aop="http://www.springframework.org/schema/aop" 
      xsi:schemaLocation="http://www.springframework.org/schema/beans 
                          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
                          http://www.springframework.org/schema/context 
                          http://www.springframework.org/schema/context/spring-context-4.2.xsd 
                          http://www.springframework.org/schema/aop 
                          http://www.springframework.org/schema/aop/spring-aop-4.2.xsd ">	
                          
           <!--目标对象  -->    
         <bean name="user1Service" class="com.cjf.demo3.User1ServiceImpl"></bean>
          <!-- 通知对象   要加进去的代码--> 
          <bean name="myAdice"  class="com.cjf.demo3.MyAdvice"></bean>
          
          <aop:config>  
          <!-- 要切入的位置 -->      
          <aop:pointcut expression="execution(* com.cjf.demo3.*ServiceImpl.*(..))" id="pc"/>
          <aop:aspect ref="myAdice">
          
          <aop:before method="before" pointcut-ref="pc"/>
           <aop:after method="after" pointcut-ref="pc"/>
          </aop:aspect>     
          </aop:config>
         
		
 </beans> 